<div class="container-fluid">

<h1>Instructors Home Page</h1>

<table class="table table-striped table-hover">
	<tr>
		<td>Name</td>
		<td>Date</td>
		<td>Active Status</td>
	</tr>
	<% @lessons.each do |l| %>
	<tr>
		<td><%= l.name %></td>
		<td><%= l.date %></td>
		<td><%= l.is_active %></td>
	</tr>
	<% end %>

</table>

</div>