<p>Data View</p>


  <svg id="Aratings">
</svg>

<script>

var dataset = gon.ratings;


// var dataset = d3.json('1.json');
 


var width = 1000;
var height = 300;
var barWidth = 15;

var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().domain([0, 5]).range([0, height]);

var margin = {top: 5, right: 10, bottom: 25, left: 25}

// add the canvas to the DOM
var barDemo = d3.selectAll("svg").
data(dataset).
attr("width", width);

barDemo.
  append("g").
  attr("x", function(datum, index) { return x(index); }).
  attr("y", function(datum) { return height - y(datum); }).
  attr("height", y(height + margin.bottom) ).
  attr("width", barWidth - 1).
  attr("fill", "#73b2ff");



xAxis = d3.svg.axis() // generate an axis
.scale(x) // set the range of the axis
.tickSize(10) // height of the ticks
.tickSubdivide(true), // display ticks between text labels
yAxis = d3.svg.axis() // generate an axis
.scale(y) // set the range of the axis
.tickSize(5) // width of the ticks
.orient("right"); // have the text labels on the left hand side
 // display ticks between text labels

// new init function which will add the axes to the chart, and do
// any other setup information we might want to do.

function init () {

barDemo.append("svg:g")
.attr("class", "y axis")
.attr("transform", "translate(" + (margin.left) + ")")
.call(yAxis);
}

init();




  </script>

