<%= lesson.name %>


<div class="col-md-4">
<p> Vote 1 to 5 </p>
<div class="btn-group-vertical">
  <button type="button" class="btn btn-default">5</button>
  <button type="button" class="btn btn-default">4</button>
  <button type="button" class="btn btn-default">3</button>
  <button type="button" class="btn btn-default">2</button>
  <button type="button" class="btn btn-default">1</button>
</div>
</div>
<div class="col-md-4">
<p>create a for loop where you look at each student (in this lesson) and append an array based upon each users input.
case statement that changes the column height</p>
</div>